<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankLedger(); as bankLedgerRef) {
      <div>
        <h2 data-cy="bankLedgerDetailsHeading"><span>Bank Ledger</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bankLedgerRef.id }}</span>
          </dd>
          <dt><span>Branch Code</span></dt>
          <dd>
            <span>{{ bankLedgerRef.branchCode }}</span>
          </dd>
          <dt><span>Branch Id</span></dt>
          <dd>
            <span>{{ bankLedgerRef.branchId }}</span>
          </dd>
          <dt><span>Bank Ledger Code</span></dt>
          <dd>
            <span>{{ bankLedgerRef.bankLedgerCode }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ bankLedgerRef.date | formatMediumDate }}</span>
          </dd>
          <dt><span>Reference No</span></dt>
          <dd>
            <span>{{ bankLedgerRef.referenceNo }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ bankLedgerRef.description }}</span>
          </dd>
          <dt><span>Deposit Amount</span></dt>
          <dd>
            <span>{{ bankLedgerRef.depositAmount }}</span>
          </dd>
          <dt><span>Withdrawal Amount</span></dt>
          <dd>
            <span>{{ bankLedgerRef.withdrawalAmount }}</span>
          </dd>
          <dt><span>Running Balance</span></dt>
          <dd>
            <span>{{ bankLedgerRef.runningBalance }}</span>
          </dd>
          <dt><span>Remark</span></dt>
          <dd>
            <span>{{ bankLedgerRef.remark }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ bankLedgerRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ bankLedgerRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ bankLedgerRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ bankLedgerRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/bank-ledger', bankLedgerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
