<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (salaryPayout(); as salaryPayoutRef) {
      <div>
        <h2 data-cy="salaryPayoutDetailsHeading"><span>Salary Payout</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.id }}</span>
          </dd>
          <dt><span>Branch Code</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.branchCode }}</span>
          </dd>
          <dt><span>Branch Id</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.branchId }}</span>
          </dd>
          <dt><span>Salary Payout Code</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.salaryPayoutCode }}</span>
          </dd>
          <dt><span>Staff Code</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.staffCode }}</span>
          </dd>
          <dt><span>Pay Period</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.payPeriod }}</span>
          </dd>
          <dt><span>Base Salary</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.baseSalary }}</span>
          </dd>
          <dt><span>Allowances</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.allowances }}</span>
          </dd>
          <dt><span>Deductions</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.deductions }}</span>
          </dd>
          <dt><span>Net Pay</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.netPay }}</span>
          </dd>
          <dt><span>Payout Date</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.payoutDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ salaryPayoutRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/salary-payout', salaryPayoutRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
