<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-sub-category-heading" data-cy="AssetSubCategoryCreateUpdateHeading">Create or edit a Asset Sub Category</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_assetCategoryCode">Asset Category Code</label>
          <input
            type="text"
            class="form-control"
            name="assetCategoryCode"
            id="field_assetCategoryCode"
            data-cy="assetCategoryCode"
            formControlName="assetCategoryCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assetSubCategoryCode">Asset Sub Category Code</label>
          <input
            type="text"
            class="form-control"
            name="assetSubCategoryCode"
            id="field_assetSubCategoryCode"
            data-cy="assetSubCategoryCode"
            formControlName="assetSubCategoryCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assetSubCategoryName">Asset Sub Category Name</label>
          <input
            type="text"
            class="form-control"
            name="assetSubCategoryName"
            id="field_assetSubCategoryName"
            data-cy="assetSubCategoryName"
            formControlName="assetSubCategoryName"
          />
        </div>

        @if (editForm.controls.createdBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.createdDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        @if (editForm.controls.lastModifiedBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.lastModifiedDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareAssetCategory"
          >
            <option [ngValue]="null"></option>
            @for (assetCategoryOption of assetCategoriesSharedCollection; track $index) {
              <option [ngValue]="assetCategoryOption">{{ assetCategoryOption.assetCategoryCode }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
