<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (inventoryItem(); as inventoryItemRef) {
      <div>
        <h2 data-cy="inventoryItemDetailsHeading"><span>Inventory Item</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ inventoryItemRef.id }}</span>
          </dd>
          <dt><span>Branch Code</span></dt>
          <dd>
            <span>{{ inventoryItemRef.branchCode }}</span>
          </dd>
          <dt><span>Branch Id</span></dt>
          <dd>
            <span>{{ inventoryItemRef.branchId }}</span>
          </dd>
          <dt><span>Inventory Item Code</span></dt>
          <dd>
            <span>{{ inventoryItemRef.inventoryItemCode }}</span>
          </dd>
          <dt><span>Item Name</span></dt>
          <dd>
            <span>{{ inventoryItemRef.itemName }}</span>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            <span>{{ inventoryItemRef.category }}</span>
          </dd>
          <dt><span>Quantity</span></dt>
          <dd>
            <span>{{ inventoryItemRef.quantity }}</span>
          </dd>
          <dt><span>Unit Price</span></dt>
          <dd>
            <span>{{ inventoryItemRef.unitPrice }}</span>
          </dd>
          <dt><span>Running Stock Count</span></dt>
          <dd>
            <span>{{ inventoryItemRef.runningStockCount }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ inventoryItemRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ inventoryItemRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ inventoryItemRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ inventoryItemRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/inventory-item', inventoryItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
