<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (expenseCategory(); as expenseCategoryRef) {
      <div>
        <h2 data-cy="expenseCategoryDetailsHeading"><span>Expense Category</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.id }}</span>
          </dd>
          <dt><span>Branch Code</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.branchCode }}</span>
          </dd>
          <dt><span>Branch Id</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.branchId }}</span>
          </dd>
          <dt><span>Category Code</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.categoryCode }}</span>
          </dd>
          <dt><span>Category Name</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.categoryName }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.description }}</span>
          </dd>
          <dt><span>Is Active</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.isActive }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ expenseCategoryRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/expense-category', expenseCategoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
