<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (branch(); as branchRef) {
      <div>
        <h2 data-cy="branchDetailsHeading"><span>Branch</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ branchRef.id }}</span>
          </dd>
          <dt><span>Branch Code</span></dt>
          <dd>
            <span>{{ branchRef.branchCode }}</span>
          </dd>
          <dt><span>Branch Name</span></dt>
          <dd>
            <span>{{ branchRef.branchName }}</span>
          </dd>
          <dt><span>Location</span></dt>
          <dd>
            <span>{{ branchRef.location }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ branchRef.phoneNumber }}</span>
          </dd>
          <dt><span>Is Active</span></dt>
          <dd>
            <span>{{ branchRef.isActive }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ branchRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ branchRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ branchRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ branchRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/branch', branchRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
