<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-depreciation-history-heading" data-cy="AssetDepreciationHistoryCreateUpdateHeading">
        Create or edit a Asset Depreciation History
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_branchCode">Branch Code</label>
          <input
            type="text"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_branchId">Branch Id</label>
          <input type="text" class="form-control" name="branchId" id="field_branchId" data-cy="branchId" formControlName="branchId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assetRegisterCode">Asset Register Code</label>
          <input
            type="text"
            class="form-control"
            name="assetRegisterCode"
            id="field_assetRegisterCode"
            data-cy="assetRegisterCode"
            formControlName="assetRegisterCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_depreciationDate">Depreciation Date</label>
          <div class="input-group">
            <input
              id="field_depreciationDate"
              data-cy="depreciationDate"
              type="text"
              class="form-control"
              name="depreciationDate"
              ngbDatepicker
              #depreciationDateDp="ngbDatepicker"
              formControlName="depreciationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="depreciationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_depreciationAmount">Depreciation Amount</label>
          <input
            type="number"
            class="form-control"
            name="depreciationAmount"
            id="field_depreciationAmount"
            data-cy="depreciationAmount"
            formControlName="depreciationAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valueAfterDepreciation">Value After Depreciation</label>
          <input
            type="number"
            class="form-control"
            name="valueAfterDepreciation"
            id="field_valueAfterDepreciation"
            data-cy="valueAfterDepreciation"
            formControlName="valueAfterDepreciation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_processedBy">Processed By</label>
          <input
            type="text"
            class="form-control"
            name="processedBy"
            id="field_processedBy"
            data-cy="processedBy"
            formControlName="processedBy"
          />
        </div>

        @if (editForm.controls.createdBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.createdDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        @if (editForm.controls.lastModifiedBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.lastModifiedDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
