<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-expense-entry-heading" data-cy="ExpenseEntryCreateUpdateHeading">Create or edit a Expense Entry</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_branchCode">Branch Code</label>
          <input
            type="text"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accountCode">Account Code</label>
          <input
            type="text"
            class="form-control"
            name="accountCode"
            id="field_accountCode"
            data-cy="accountCode"
            formControlName="accountCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expenseCode">Expense Code</label>
          <input
            type="text"
            class="form-control"
            name="expenseCode"
            id="field_expenseCode"
            data-cy="expenseCode"
            formControlName="expenseCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expenseCategoryCode">Expense Category Code</label>
          <input
            type="text"
            class="form-control"
            name="expenseCategoryCode"
            id="field_expenseCategoryCode"
            data-cy="expenseCategoryCode"
            formControlName="expenseCategoryCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expenseSubCategoryCode">Expense Sub Category Code</label>
          <input
            type="text"
            class="form-control"
            name="expenseSubCategoryCode"
            id="field_expenseSubCategoryCode"
            data-cy="expenseSubCategoryCode"
            formControlName="expenseSubCategoryCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdByUsername">Created By Username</label>
          <input
            type="text"
            class="form-control"
            name="createdByUsername"
            id="field_createdByUsername"
            data-cy="createdByUsername"
            formControlName="createdByUsername"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_voucherNo">Voucher No</label>
          <input type="text" class="form-control" name="voucherNo" id="field_voucherNo" data-cy="voucherNo" formControlName="voucherNo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentMode">Payment Mode</label>
          <select class="form-control" name="paymentMode" formControlName="paymentMode" id="field_paymentMode" data-cy="paymentMode">
            <option [ngValue]="null"></option>
            @for (paymentMode of paymentModeValues; track $index) {
              <option [value]="paymentMode">
                {{ { null: '', CASH: 'CASH', BANK: 'BANK', CHEQUE: 'CHEQUE', CARD: 'CARD' }[paymentMode] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_approvalStatus">Approval Status</label>
          <select
            class="form-control"
            name="approvalStatus"
            formControlName="approvalStatus"
            id="field_approvalStatus"
            data-cy="approvalStatus"
          >
            <option [ngValue]="null"></option>
            @for (approvalStatus of approvalStatusValues; track $index) {
              <option [value]="approvalStatus">
                {{
                  { null: '', APPROVED: 'APPROVED', DECLINED: 'DECLINED', PENDING: 'PENDING', TO_REVIEW: 'TO_REVIEW', FAILED: 'FAILED' }[
                    approvalStatus
                  ]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_approvedBy">Approved By</label>
          <input
            type="text"
            class="form-control"
            name="approvedBy"
            id="field_approvedBy"
            data-cy="approvedBy"
            formControlName="approvedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vendor">Vendor</label>
          <input type="text" class="form-control" name="vendor" id="field_vendor" data-cy="vendor" formControlName="vendor" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_syncStatus">Sync Status</label>
          <select class="form-control" name="syncStatus" formControlName="syncStatus" id="field_syncStatus" data-cy="syncStatus">
            <option [ngValue]="null"></option>
            @for (syncStatus of syncStatusValues; track $index) {
              <option [value]="syncStatus">{{ { null: '', SYNCED: 'SYNCED', PENDING_OFFLINE: 'PENDING_OFFLINE' }[syncStatus] }}</option>
            }
          </select>
        </div>

        @if (editForm.controls.createdBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.createdDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        @if (editForm.controls.lastModifiedBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.lastModifiedDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
